@charset "UTF-8";
/*----------------------------------------*/
/* [共通変数] */
/**
 * reset.scssの設定
 */
/**
 * BreakPoint
 * @include mq($pc){CSS設定}
 */
/**
 * body背景色
 */
/**
 * max-widthのサイズ
 */
/**
 * フォントファミリー
 */
/**
 * 文字色
 */
/**
 * 文字サイズ
 */
/**
 * 行間
 */
/*----------------------------------------*/
/* Asset Directory */
/* @Reference site */
/* @MEMO */
/* html5doctor.com Reset Stylesheet v1.6.1
	Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*-------------------------------------------------------------------*/
/* [Responsive Mixin] */
/**
 * メディアクエリ
 * $breakpoint: $pc (conf/_setting.scss)
 * 
 * #wrapper{
 *  @include mq($tablet){CSS設定}
 * }
 * 
 */
/*-------------------------------------------------------------------*/
/* [BEM Mixin] */
/**
 * BEM Elements
 * 
 * @include be(element1){CSS設定};
 * @include be(element1, element2){CSS設定};
 */
/**
 * BEM Modifiers
 * 
 * @include bm(modifier1){CSS設定};
 * @include bm(modifier1, modifier2){CSS設定};
 */
/*-------------------------------------------------------------------*/
/* [Calc Mixin] */
/**
 * パーセントを計算する
 * width: getPer(800, 1200);
 */
/**
 * pxをvwに変換
 */
/*-------------------------------------------------------------------*/
/* [Font Mixin] */
/**
 * REMでfont-sizeを設定する
 * @include remFont(16);
 * @include remFont($size:16, $fw:bold);
 */
/**
 * VWでfont-sizeを設定する
 * 参考: https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
 *
 * @include vwFont(24, 14);
 * @include vwFont($px:24, $minpx:14, $fw:bold);
 */
/*-------------------------------------------------------------------*/
/* [Layout Mixin] */
/**
 * 縦横比を保持するボックスを作成する
 * @include ratioBox(640, 360)
 */
/**
 * inline-blockで横並びにする
 * @include ibLine;
 */
/**
 * Flexで横並びにする
 * @include fxLine;
 * justify-content: https://developer.mozilla.org/ja/docs/Web/CSS/justify-content
 */
/**
 * Flexで縦横中央揃え
 * @include fxCenter;
 */
/**
 * position:absolute
 * @include absolute($top:0, $left:0);
 */
/**
 * position:fixed
 */
/**
 * 擬似要素を作成する
 * @include after(){ 追加するCSS }
 * @include after($position:fixed){ 追加するCSS }
 */
/**
 * 背景画像を設定する
 * @include bg($img:/assets/img/bg.jpg, $pos:50% 50%);
 */
/**
 * 背景にグラデーションを設定する
 */
/**
 * テキストを飛ばす
 * @include ir;
 */
/*-------------------------------------------------------------------*/
/* [Animation Mixin] */
/**
 * ロールオーバーでopacity
 */
/**
 * ロールオーバーで下線が伸びる
 */
/**
 * ロールオーバーでドロップシャドウ
 */
/**
 * ロールオーバーで画像の4辺に枠線が伸びる
 * <div><a><span><img src=""></span></a></div>
 * <div>は、width指定もしくはdisplay:inline-block
 */
/**
 * ロールオーバーで枠線が太くなる
 * <div><a><img src=""></a></div>
 * <div>は、width指定もしくはdisplay:inline-block
 */
/**
 * ロールオーバーでマーカーが伸びる(ver.1行)
 */
/**
 * ロールオーバーで揺らす
 */
@-webkit-keyframes shakeAction {
  0% {
    -webkit-transform: rotate(1.2deg);
            transform: rotate(1.2deg); }
  20% {
    -webkit-transform: rotate(-0.8deg);
            transform: rotate(-0.8deg); }
  40% {
    -webkit-transform: rotate(0.4deg);
            transform: rotate(0.4deg); }
  60% {
    -webkit-transform: rotate(-0.75deg);
            transform: rotate(-0.75deg); }
  70% {
    -webkit-transform: rotate(0.375deg);
            transform: rotate(0.375deg); }
  80% {
    -webkit-transform: rotate(-0.25deg);
            transform: rotate(-0.25deg); }
  90% {
    -webkit-transform: rotate(0.125deg);
            transform: rotate(0.125deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@keyframes shakeAction {
  0% {
    -webkit-transform: rotate(1.2deg);
            transform: rotate(1.2deg); }
  20% {
    -webkit-transform: rotate(-0.8deg);
            transform: rotate(-0.8deg); }
  40% {
    -webkit-transform: rotate(0.4deg);
            transform: rotate(0.4deg); }
  60% {
    -webkit-transform: rotate(-0.75deg);
            transform: rotate(-0.75deg); }
  70% {
    -webkit-transform: rotate(0.375deg);
            transform: rotate(0.375deg); }
  80% {
    -webkit-transform: rotate(-0.25deg);
            transform: rotate(-0.25deg); }
  90% {
    -webkit-transform: rotate(0.125deg);
            transform: rotate(0.125deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@-webkit-keyframes shakeActionHard {
  0% {
    -webkit-transform: rotate(2.4deg);
            transform: rotate(2.4deg); }
  20% {
    -webkit-transform: rotate(-1.6deg);
            transform: rotate(-1.6deg); }
  40% {
    -webkit-transform: rotate(0.8deg);
            transform: rotate(0.8deg); }
  60% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg); }
  70% {
    -webkit-transform: rotate(0.7deg);
            transform: rotate(0.7deg); }
  80% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg); }
  90% {
    -webkit-transform: rotate(0.25deg);
            transform: rotate(0.25deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes shakeActionHard {
  0% {
    -webkit-transform: rotate(2.4deg);
            transform: rotate(2.4deg); }
  20% {
    -webkit-transform: rotate(-1.6deg);
            transform: rotate(-1.6deg); }
  40% {
    -webkit-transform: rotate(0.8deg);
            transform: rotate(0.8deg); }
  60% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg); }
  70% {
    -webkit-transform: rotate(0.7deg);
            transform: rotate(0.7deg); }
  80% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg); }
  90% {
    -webkit-transform: rotate(0.25deg);
            transform: rotate(0.25deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

/**
 * スノーノイズ
 */
@-webkit-keyframes snowNoiseFrame {
  0% {
    background-position: 50px 0; }
  40% {
    background-position: 10px 50%; }
  80% {
    background-position: 300px 100%; }
  100% {
    background-position: 0 0; } }
@keyframes snowNoiseFrame {
  0% {
    background-position: 50px 0; }
  40% {
    background-position: 10px 50%; }
  80% {
    background-position: 300px 100%; }
  100% {
    background-position: 0 0; } }

/*----------------------------------------*/
/* [BASE SETTING] */
html {
  background: transparent;
  line-height: 1.5; }

body {
  font-family: "-apple-system", "BlinkMacSystemFont", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "segoe ui", "游ゴシック  Medium", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
  background-color: #FFF;
  -webkit-text-size-adjust: 100%; }

img {
  width: 100%;
  vertical-align: bottom; }

a, a img {
  outline: none; }
