@charset "utf-8";



/*----------------------------------------*/
/* [共通変数] */

/**
 * reset.scssの設定
 */
$reset-type: html5;

/**
 * BreakPoint
 * @include mq($pc){CSS設定}
 */
$sp: 'screen and (max-width: 768px)';
$pcS: 'screen and (min-width: 769px)';
$pcM: 'screen and (min-width: 961px)';
$pcL: 'screen and (min-width: 1241px)';

/**
 * body背景色
 */
$body-color:#FFF;

/**
 * サイズ一覧
 */
$pc-viewport: 1240;
$sp-viewport: 750;
 
/**
 * フォントファミリー
 */
$font-family: '-apple-system','BlinkMacSystemFont','Hiragino Sans','Hiragino Kaku Gothic ProN','segoe ui','游ゴシック  Medium','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;

/**
 * 文字色
 */
$font-baseColor: #000;

/**
 * 文字サイズ
 */
$font-baseSize: 16px;

/**
 * 行間
 */
$font-baseLine: 1.5;



/*----------------------------------------*/
/* Asset Directory */

// Common Image Directory
$imgdir_common: '../img/common/';

// Top Image Directory
$imgdir_top: '../img/top/';

