block variables
	- var domain = "http://test.co.jp/";
	- var pageLang　= "ja";
	- var pageTitle　= "Pug Template";
	- var pageDescription　= "ダミーのディスクリプション";
	- var pageKeywords　= "キーワード1, キーワード2, キーワード3";
	- var ogImage　= "ogp.png";
	- var ogType　= "website";
	- var twitterText = "";
	- var twitterHashTags = "";
	- var assetPath = "/";

doctype html
html(lang=pageLang)
	head
		include ./_meta

	body(id=pageId)
		include ./_header

		#stage
			block content
			include ./_footer

		include ./_script