extends ./_includes/_layout

append variables
    - var pageUrl　= "http://test.co.jp";
    - var pageOgpType　= "website";
    - var pageId = 'index';

block content
    #stage
        p Indexページのコンテンツです